@page "/"
@using CRMProject.Client.Pages.Components

<PageTitle>Home</PageTitle>

<h1>Welkom bij CRM</h1>

<div style="display: flex; gap: 30px; margin: 20px 0; flex-wrap: wrap;">
    <div style="flex: 1; min-width: 500px;">
            <h3>Facturen per maand</h3>
        <FactuurChart />
    </div>
    <div style="flex: 0 0 300px;">
        <div class="text-center">
        <h3>Facturen per status</h3>
        </div>
        <BetaalStatusOverzicht />
    </div>
</div>
