@rendermode InteractiveWebAssembly
@using CRMProject.Client.Services
@inject AuthenticationNotificationService AuthNotification
@implements IDisposable

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CRM</a>
        <button class="navbar-toggler" type="button" onclick="document.querySelector('.navbar-collapse').classList.toggle('show')">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <NavLinks @ref="navLinksRef"/>
            </ul>
        </div>
    </div>
</nav>

@code {
    private NavLinks? navLinksRef;

    protected override void OnInitialized()
    {
        AuthNotification.OnAuthenticationChanged += RefreshAuthenticationAsync;
    }

    private async void RefreshAuthenticationAsync()
    {
        if (navLinksRef != null)
        {
            await navLinksRef.CheckAuthenticationAsync();
        }
    }

    public void Dispose()
    {
        AuthNotification.OnAuthenticationChanged -= RefreshAuthenticationAsync;
    }
}